.o-page-detail {}

.c-detail-header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.75rem .75rem .25rem;
    height: 3.75rem;
    box-sizing: border-box;
    background-color: transparent;
    z-index: 1;
}

.c-detail-header-btn {
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, .2);
}

.c-detail-banner {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 12rem;
    background-size: 100%;
    padding: 0 1rem .75rem;
    color: #fff;
    box-sizing: border-box;
}

.c-detail-title {
    font-weight: bold;
    font-size: 1.25rem;
}

.c-detail-subtitle {
    margin-top: .35rem;
    font-size: .5rem;
}

.c-detail-author {
    font-weight: bold;
}

.c-spliter {
    font-size: 1rem;
    padding: 0 .35rem;
}

.c-detail-content {
    padding: .5rem .75rem 3.75rem;
}

.c-detail-info {
    font-size: .78rem;
    color: #666;
    letter-spacing: .5px;
    line-height: 1.25rem;
}

.c-detail-fav {
    margin-top: .5rem;
}

.c-detail-newest {}

/* .c-detail-footer {} */