.c-searchbar {
    display: block;
    padding: .25rem;
    background-color: #fff;
}

.c-searchbar-wrapper {
    position: relative;
    border-radius: 2rem;
    background-color: #f5f5f5;
    padding: .25rem .75rem;
    line-height: 1rem;
}

.c-searchbar-wrapper::after {
    content: "\e6b0";
    font-family: "iconfont";
    display: inline-block;
    position: absolute;
    right: 0.25rem;
    top: .35rem;
    color: #999;
    font-size: 1.5rem;
}

.c-searchbar-placeholder {
    display: inline-block;
    color: #ccc;
    letter-spacing: 1px;
}
