.c-reader__content {}

.c-reader__list {
  width: 100%;
  overflow: hidden;
}

.c-reader__img {
  width: 100%;
  vertical-align: top;
}

.c-reader__mask {
  position: fixed;
  display: none;
  opacity: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #000;
  z-index: 6;
}

.c-reader__menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 80%;
  background-color: #fff;
  border-right: 1px solid #999;
  transform: translate(-100%);
  z-index: 9;
}