.Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3.875rem;
    line-height: 3.875rem;
    text-align: center;
    background-color: #f63f3f;
    color: #fff;
    z-index: 9;
}

.Header-backbtn {
    position: absolute;
    top: 0;
    left: 0;
    height: 3.75rem;
    padding-left: 1.25rem;
}

.Header-title {
    font-size: 1.5rem;
}

.Header-tools {
    position: absolute;
    right: 0;
    top: 0;
    height: 3.75rem;
    padding-right: 1.25rem;
}
