[class*="c-icon"] {
  font-size: inherit;
  font-family: "iconfont";
}

.c-icon--backbtn::before {
  content: "\e667";
}

.c-icon--collect::before {
  content: '\e6e9';
}

.c-icon--dots::before {
  content: '\e602';
}

.c-icon--category::before {
  content: '\e699';
  display: inline-block;
  transform: scale(.8);
  font-weight: bold;
}

.c-icon--last::before {
  content: '\e664';
}

.c-icon--next::before {
  content: '\e66e';
}

.c-icon--preference::before {
  content: '\e66c';
}

.c-icon--ascending::before {
  content: '\e67e';
}

.c-icon--descending::before {
  content: '\e688';
}
