.o-page-main {
  background: #fff;
}

.c-header-logo {
  width: 2rem;
  height: 100%;
}

.c-logo {
  width: 2rem;
  height: 2rem;
  background-image: url('../../assets/images/nav_logo_black.png');
  background-size: auto 100%;
  background-position: 0;
  background-repeat: no-repeat;
}

.c-header-searchbar {
  display: flex;
  flex: 1;
  display: block;
  margin: 0 .25rem;
  flex-direction: row;
  align-items: center;
}

.c-header-tools {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #999;
  font-size: 1.25rem;
}

span[class*="c-tool-"] {
  display: inline-block;
  font-family: "iconfont";
}

.c-tool-menu::after {
  content: "\e646";
}

.c-nav {
  position: relative;
  top: 0;
  font-weight: bold;
  color: #aaa;
  background-color: transparent;
  font-size: .95rem;
}

.c-nav-list {
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  padding: .25rem 0 .25rem .25rem;
}
