.c-slick-wrapper {
    overflow: hidden;
    padding: 0 1.35rem;
}

.c-slick {
    display: flex;
    padding: .5rem 0 1rem;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    white-space: nowrap;
}

.c-slick-item {
    display: inline-block;
    margin: 0 .5rem;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 15px 20px rgba(0, 0, 0, .1);
}

.c-slick-item-active {}
