.c-scrollnav-list {
    float: left;
    white-space: nowrap;
}

.c-nav-item {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin: 0 .5rem;
    padding: .25rem;
    padding-right: 0;
}

.c-nav-item:first-child {
    margin-left: 0;
}

.c-nav-active {
    color: #1CDD74;
}

.c-nav-active::after {
    content: "";
    display: block;
    width: .5rem;
    margin: .25rem auto 0;
    border: .1rem solid #1CDD74;
    border-radius: .1rem;
}
